@charset "UTF-8";
body{
		background-color: #f1f1f1;
}
h1{
	margin-bottom: 30px;
}
*{
	margin: 0;
	padding: 0;
}
#di{
	margin-top: 50px;
	padding: 100px;
	overflow: hidden;
	background-color: white;
}
#di1 ul{
	float: left;
}
#di1 ul li{
	text-align: left;
	width: 150px;
	color:#d1d1d1 ;
	font-size: 14px;
	margin-top: 5px;
}
#di1 ul li:first-child{
	color: black;
	font-size: 16px;
	margin-bottom: 20px;
}
#di1{
	overflow: hidden;
}
#di2{
	color:#d1d1d1 ;
	font-size: 14px;
	padding-top: 50px;
}
#di2 li{
	color:#b1b1b1 ;
	float: left;
	padding-right: 5px;
	margin-right: 5px;
	border-right: 1px #d1d1d1 solid;
}